extends base.pug


block content 
    h4 Update Video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title required)
        input(name="description", placeholder="Description" type="text", required, minlength=20, value=video.description)
        input(name="hashtags", placeholder="Hashtags, seperated by comma", type="text", required, value=video.hashtags.join(","))
        input(value="Save",type="submit")